<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商铺保-已生效保单详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <script>
        (function(){
            var html = document.documentElement;
            var windowWidth = html.clientWidth;
            html.style.fontSize = windowWidth / 7.5 + 'px';
        })();
    </script>
    <link href="css/shops.css" rel="stylesheet" type="text/css">
    <link href="css/weui.min.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/weui.js"></script>
    <style type="text/css">
        .classShow {
            display: block;
        }
        .classHide {
            display: none;
        }
        .c0 {
            position: relative;
            padding-bottom: 10px;
        }
        .c0.add-line {
            padding-bottom: 10px;
        }
        .add-line:after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #d9d9d9;
            color: #d9d9d9;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            left: 15px;
        }
        .weui-icon_gallery-delete { display:none;}
    </style>
</head>
<body style="padding-bottom: 0.3rem">

<div id="orderDetails" v-cloak>
    <div>
    <div class="top_bar">
        <a class="back fl" href="javascript:;" @click="backPage"><img src="img/back.png"/> </a>
        <span class="title">已生效保单详情</span>
    </div>
    <div class="for_margin"></div>
    <div class="pb50">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>投保人:</p>
            </div>
            <div class="weui-cell__ft tover" style="width: 5.3rem">{{ order.policyholder }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>被保险人:</p>
            </div>
            <div class="weui-cell__ft tover" style="width: 5rem">{{ order.beneficiary }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>承保公司:</p>
            </div>
            <div class="weui-cell__ft tover" style="width: 5rem">中国大地财险</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>保单号:</p>
            </div>
            <div class="weui-cell__ft tover" style="width: 4.8rem">{{ order.policy_no }}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>保单验真电话:</p>
            </div>
            <div class="weui-cell__ft tover" style="width: 3.8rem">95590</div>
        </div>
        <div class="weui-cell" style="padding-bottom: 0">
            <div class="weui-cell__bd">
                <p >保险有效期限:</p>
            </div>
        </div>
        <div class="weui-cells__tips c0 ">{{ order.effected_at }}日零时起
            至 {{ order.expired_at }}日24时止</div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p style="position: relative;">保单照片：</p>
                    </div>
                    <div class="weui-uploader__bd add-line">
                        <ul class="weui-uploader__files">
                            <template>
                                <li class="weui-uploader__file"  @click="imgGallery(showImg(img))"  v-for="img in policy_image" v-bind:style='"background-image: url("+showImg(img)+")"'>  </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div v-for="(shop,index) in shops">
            <div class="switch " v-bind:class="shop.b">
                <div class="weui-cell add-line ">
                    <div class="weui-cell__bd">
                        <p>商铺档口<b>{{ index+1 }}</b></p>
                    </div>
                    <div class="weui-cell__ft">年度保费<b class="red">{{ shop.price }}</b>元</div>
                </div>
                
                <!-- <img src="" style="clear: both;width: 79px;height: 79px; display: block;"> -->
                </div>
                <div class="switch-box">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>投保方案：</p>
                        </div>
                        <div class="info_bar weui-cell__ft ">
                            <p class="red">保险金额{{ shop.coverage }}万元</p>
                            <p class="tip">（固定资产{{ shop.gdzc }}万+临时存货{{ shop.lsch }}万）</p>
                            <p class="red">附加商铺租金损失保险200元/天</p>
                            <p class="tip">（最长90天）</p>
                        </div>
                    </div>
                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            <p>档口地址：</p>
                        </div>
                        <div class="info_bar weui-cell__ft ">
                            <p class="tip tover" style="width: 5rem">{{shop.province+shop.city+shop.district+shop.address }}</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-uploader">
                                <div class="weui-uploader__hd">
                                    <p>档口图片</p>
                                </div>
                                <div class="weui-uploader__bd">
                                    <ul class="weui-uploader__files">
                                        <li class="weui-uploader__file" @click="imgGallery(showImg(img))"  v-for="img in shop.images" v-bind:style="{ backgroundImage: 'url('+showImg(img)+')', fontSize: 5 + 'px' }" ></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" send_help_btn">
        <a class="weui-btn weui-btn_primary" @click="goNext">需要加保</a>
    </div>
</div>

</body>
<script type="text/javascript">
    if(!getToken()){
        window.location.href = 'login.html';
    }
    var order_id = window.location.href.substring(window.location.href.indexOf("?")+1,window.location.href.length);
    var token = getToken();
    //console.log("token:"+token);
    //console.log("order_id:"+order_id);
    var vm = new Vue({
        el: '#orderDetails',
        data: {
            url:cmnUrl,
            order:{},
            shops:[],
            policy_image:[],

        },
        methods: {
            showImg:function(img){
                return img.replace(/\\/g,"/").replace(/\s/g,"%20").replace(/\(/g,"%28").replace(/\)/g,"%29")
            },
            //初始化加载
            getIniInfo:function(){
                $.ajax({
                    url: spbUrl + '/v1/spb/order/info',
                    type: 'get',
                    headers: {'Authorization':'Bearer ' + token},
                    data:{"id": order_id},
                    beforeSend: function(data){
                        if(data.readyState == 0){
                            weui.loading('loading');
                        }
                    },
                    success:function(data){
                        //console.log(data.data);

                        var order = {};

                        //order.id = data.data[i].id;
                        order.policyholder = data.data.policyholder;
                        order.beneficiary = data.data.beneficiary;
                        order.deliver_address = data.data.deliver_address;

                        order.status = data.data.status;
                        order.updated_at = data.data.updated_at;
                        order.effected_at = data.data.effected_at.substring(0,10);
                        order.expired_at = data.data.expired_at.substring(0,10);
                        order.policy_no = data.data.policy_no;

                        // order.b = "classShow";

                        /*if(data.data.status == 64) {
                         order.status_text = '已生效';
                         }*/
                        /*else if(){

                         }*/
                        vm.order = order;
                        vm.policy_image = data.data.policy_image_urls;
//                        console.log(data.data.policy_image_urls);
                        //遍历当前订单中的shops数组中的shop；
                        for(var j=0; j < data.data.shops.length; j++){
                            var shop = {};
                            shop.coverage = data.data.shops[j].coverage/10000;
                            shop.gdzc = data.data.shops[j].coverage/50000;//固定资产
                            shop.lsch = data.data.shops[j].coverage/12500;//临时存货
                            shop.price = data.data.shops[j].price/100;
                            shop.address = data.data.shops[j].address;
                            shop.province = data.data.shops[j].province;
                            shop.city = data.data.shops[j].city;
                            shop.district = data.data.shops[j].district;
                            shop.images = (function(){
                                var frontArr=[], insideArr=[], fireArr=[], imagesArr=[];
                                for(var x in data.data.shops[j].front_image_urls){
                                    frontArr.push(data.data.shops[j].front_image_urls[x])
                                }
                                for(var y in data.data.shops[j].inside_image_urls){
                                    insideArr.push(data.data.shops[j].inside_image_urls[y])
                                }
                                for(var z in data.data.shops[j].fire_device_image_urls){
                                    fireArr.push(data.data.shops[j].fire_device_image_urls[z])
                                }

                                imagesArr = frontArr.concat(insideArr.concat(fireArr));
                                return imagesArr;
                            })();
                            shop.b = "classShow";
                            shop.a = "classHide";
                            vm.shops.push(shop);
                        }
                    },
                    complete: function(data){
                        if(data.status == 200){
                            weui.loading('loading').hide();
                        }
                    },
                })
            },
            show_detail:function (index) {
                if(this.wsxOrder[index].a =="classHide"){
                    this.wsxOrder[index].a = 'classShow';

                }else{
                    this.wsxOrder[index].a = 'classHide';
                }

            },
            to_detail: function (index) {
                //console.log("id:"+this.wsxOrder[index].id);
                //console.log("status:"+this.wsxOrder[index].status);
            },
            backPage:function() {
                window.location.href = 'spbordersBack.html?orderStatus=paid';
            },
            imgGallery:function(url){
                weui.gallery(url);
            },
            goNext:function(){
                $.ajax({
                    url: spbUrl + '/v1/spb/user/info',
                    type: 'get',
                    headers: {'Authorization': 'Bearer ' + token},
                    success: function (data) {
                        if(data.err_code == 0){
                            if(data.data.disabled){
                                weui.alert('<p style="word-break: normal">非常抱歉，您的账户暂时无法投保“商铺保”，建议您选择其他险种，详询聚保服务热线：40080-59680。</p>', {title: '尊敬的会员'});
                                return false
                            }
                        }
                        window.location.href = "insured-create.html";
                    }
                })
            }
        }
    });
    vm.getIniInfo();
</script>

</html>