.tab {
    position: relative;
    width: 100%;
    height: .82rem;
    margin-bottom: .1rem;
    background-color: #fff;
    z-index: 2;
}

.tab .lt {
    float: left;
    padding-left: 1.13rem;
}

.tab .rt {
    float: right;
    padding-right: 1rem;
}

.tab_item {
    height: 100%;
    vertical-align: middle;
}

.tab_item h3 {
    width: 2.3rem;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    line-height: 0.82rem;
    font-weight: normal;
    font-size: .32rem;
}

.tab_item_active {
    color: #06acf9;
    border-bottom: .03rem solid #06acf9;
}