.ygbOrders {
    background-color: #eeeeee;
    height: 100%;
}

.tab {
    position: relative;
    width: 100%;
    height: .82rem;
    margin-bottom: .1rem;
    background-color: #fff;
    z-index: 2;
}

.tab .lt {
    float: left;
    padding-left: 1.13rem;
}

.tab .rt {
    float: right;
    padding-right: 1.13rem;
}

.tab_item {
    height: 100%;
    vertical-align: middle;
}

.tab_item h3 {
    width: 1.8rem;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    line-height: 0.82rem;
    font-weight: normal;
    font-size: .32rem;
}

.tab_item_active {
    color: #06acf9;
    border-bottom: .03rem solid #06acf9;
}

.item {
    position: relative;
    width: 100%;
    //height: 2.95rem;
    background-color: #fff;
    margin-bottom: .2rem;
    box-sizing: border-box;
    padding-left: .41rem;
    padding-top: 0.11rem;
    font-size: .28rem;
}

.ygb_price:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: .6rem;
    border-bottom: 1px solid #e8e8e8;
    width: 200%;
    height: 0;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
    box-sizing: border-box;
}

.item p {
    line-height: 0.4rem;
}

.link {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #06acf9;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 0.25rem;
    height: 0.4rem;
    line-height: 0.4rem;
}

.link:before {
    content: "";
    position: absolute;
    left: 0;
    border: 1px solid #06acf9;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
}

.ygb_price {
    text-align: right;
    padding-right: 0.31rem;
    line-height: .5rem;
}

.red_text {
    color: red;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.button_area {
    text-align: right;
    padding-right: 0.31rem;
    padding-top: 0.24rem;
    position: relative;
    z-index: 2;
}


/* ygbChange 员工保换人 */